body{

font-family:Arial;

background:#f4f4f4;

margin:40px;

transition:0.4s;

}

.container{

background:white;

padding:30px;

border-radius:8px;

}

button{

padding:10px 20px;

cursor:pointer;

margin-top:10px;

}

.dark{

background:#222;

color:white;

}

.dark .container{

background:#333;

}

input{

width:250px;

padding:8px;

}